In [1]:
import pandas as pd
import re

In [2]:


attacks_filtered = pd.read_csv("../data/attacks_filtered.csv")
attacks_filtered

,Date,Year,Type,Country,Area,Activity,Sex,Fatal (Y/N),Time,Investigator or Source
0,25-Jun-2018,2018.0,Boating,USA,California,Paddling,F,N,18h00,"R. Collier, GSAF"
1,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,Standing,F,N,14h00 -15h00,"K.McMurray, TrackingSharks.com"
2,09-Jun-2018,2018.0,Invalid,USA,Hawaii,Surfing,M,N,07h45,"K.McMurray, TrackingSharks.com"
3,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Surfing,M,N,NaN,"B. Myatt, GSAF"
4,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,Free diving,M,N,NaN,A .Kipper
...,...,...,...,...,...,...,...,...,...,...
4947,Before 1906,0.0,Unprovoked,AUSTRALIA,New South Wales,Swimming,M,Y,NaN,"L. Becke in New York Sun, 9/9/1906; L. Schultz..."
4948,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Diving,M,Y,NaN,"H. Taunton; N. Bartlett, p. 234"
4949,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Pearl diving,M,Y,NaN,"H. Taunton; N. Bartlett, pp. 233-234"
4950,1900-1905,0.0,Unprovoked,USA,North Carolina,Swimming,M,Y,NaN,"F. Schwartz, p.23; C. Creswell, GSAF"
4951,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,Swimming,M,Y,NaN,S.W. Baker

We are going to clean the Date and Year columns, trying to clear the info and extracting the most usefull one

First we create another column called NewYear with the str values of the column Year.

In [3]:
pattern = "^\d{4}"
year_list = str(i for i in list(attacks_filtered["Year"]))

In [4]:
pattern = "^\d{4}"

attacks_filtered["NewYear"] = attacks_filtered["Year"].apply(lambda x: re.findall(pattern, str(x)))
attacks_filtered["NewYear"] = attacks_filtered["NewYear"].explode()
attacks_filtered = attacks_filtered.drop(["Year"], axis = 1)
                                          
attacks_filtered

,Date,Type,Country,Area,Activity,Sex,Fatal (Y/N),Time,Investigator or Source,NewYear
0,25-Jun-2018,Boating,USA,California,Paddling,F,N,18h00,"R. Collier, GSAF",2018
1,18-Jun-2018,Unprovoked,USA,Georgia,Standing,F,N,14h00 -15h00,"K.McMurray, TrackingSharks.com",2018
2,09-Jun-2018,Invalid,USA,Hawaii,Surfing,M,N,07h45,"K.McMurray, TrackingSharks.com",2018
3,08-Jun-2018,Unprovoked,AUSTRALIA,New South Wales,Surfing,M,N,NaN,"B. Myatt, GSAF",2018
4,04-Jun-2018,Provoked,MEXICO,Colima,Free diving,M,N,NaN,A .Kipper,2018
...,...,...,...,...,...,...,...,...,...,...
4947,Before 1906,Unprovoked,AUSTRALIA,New South Wales,Swimming,M,Y,NaN,"L. Becke in New York Sun, 9/9/1906; L. Schultz...",NaN
4948,Before 1903,Unprovoked,AUSTRALIA,Western Australia,Diving,M,Y,NaN,"H. Taunton; N. Bartlett, p. 234",NaN
4949,Before 1903,Unprovoked,AUSTRALIA,Western Australia,Pearl diving,M,Y,NaN,"H. Taunton; N. Bartlett, pp. 233-234",NaN
4950,1900-1905,Unprovoked,USA,North Carolina,Swimming,M,Y,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",NaN
4951,1845-1853,Unprovoked,CEYLON (SRI LANKA),Eastern Province,Swimming,M,Y,NaN,S.W. Baker,NaN

Now, from the data in "Date", we will move data to the empty columns of NewYear. After this, we will filter this new info in NewYear, using regex.

In [5]:
attacks_filtered["NewYear"].isnull().sum()

80

In [6]:
def move_info(list1, list2):
    for i in range(len(list1)):
        if type(list1[i]) != str:
            list1[i] = list2[i]
    attacks_filtered["NewYear"] = list1
    return

In [7]:
move_info(list(attacks_filtered["NewYear"]), list(attacks_filtered["Date"]))
attacks_filtered["NewYear"].isnull().sum()
#attacks_filtered["NewYear"]

0

In [8]:
pattern_2 = "\d{4}"
pattern_3 = "(\d+)[^-]*$"

attacks_filtered["NewYear"] = attacks_filtered["NewYear"].apply(lambda x: re.findall(pattern_2, str(x)))
attacks_filtered["NewYear"] = attacks_filtered["NewYear"].apply(lambda x: re.findall(pattern_3, str(x)))
attacks_filtered["Year"] = attacks_filtered["NewYear"].explode().astype("object")
attacks_filtered = attacks_filtered.drop(["NewYear"], axis = 1)



attacks_filtered

,Date,Type,Country,Area,Activity,Sex,Fatal (Y/N),Time,Investigator or Source,Year
0,25-Jun-2018,Boating,USA,California,Paddling,F,N,18h00,"R. Collier, GSAF",2018
1,18-Jun-2018,Unprovoked,USA,Georgia,Standing,F,N,14h00 -15h00,"K.McMurray, TrackingSharks.com",2018
2,09-Jun-2018,Invalid,USA,Hawaii,Surfing,M,N,07h45,"K.McMurray, TrackingSharks.com",2018
3,08-Jun-2018,Unprovoked,AUSTRALIA,New South Wales,Surfing,M,N,NaN,"B. Myatt, GSAF",2018
4,04-Jun-2018,Provoked,MEXICO,Colima,Free diving,M,N,NaN,A .Kipper,2018
...,...,...,...,...,...,...,...,...,...,...
4947,Before 1906,Unprovoked,AUSTRALIA,New South Wales,Swimming,M,Y,NaN,"L. Becke in New York Sun, 9/9/1906; L. Schultz...",1906
4948,Before 1903,Unprovoked,AUSTRALIA,Western Australia,Diving,M,Y,NaN,"H. Taunton; N. Bartlett, p. 234",1903
4949,Before 1903,Unprovoked,AUSTRALIA,Western Australia,Pearl diving,M,Y,NaN,"H. Taunton; N. Bartlett, pp. 233-234",1903
4950,1900-1905,Unprovoked,USA,North Carolina,Swimming,M,Y,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",1900
4951,1845-1853,Unprovoked,CEYLON (SRI LANKA),Eastern Province,Swimming,M,Y,NaN,S.W. Baker,1845

In [9]:
# print(list(attacks_filtered["Date"]))

# Cleaning Date column and changing it to month

In [10]:
pattern_4 = "([a-z|A-Z]{3})(?![^-])"
pattern_5 = "(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)"
pattern_6 = "^\S*"

    

attacks_filtered["Month"] = attacks_filtered["Date"].apply(lambda x: re.findall(pattern_4, str(x))).apply(lambda x: ' '.join(x))
attacks_filtered["Month"] = attacks_filtered["Month"].apply(lambda x: re.findall(pattern_5, str(x))).apply(lambda x: ' '.join(x))
attacks_filtered["Month"] = attacks_filtered["Month"].apply(lambda x: re.findall(pattern_6, str(x))).apply(lambda x: ' '.join(x))



attacks_filtered = attacks_filtered.drop(["Date"], axis = 1)

attacks_filtered

,Type,Country,Area,Activity,Sex,Fatal (Y/N),Time,Investigator or Source,Year,Month
0,Boating,USA,California,Paddling,F,N,18h00,"R. Collier, GSAF",2018,Jun
1,Unprovoked,USA,Georgia,Standing,F,N,14h00 -15h00,"K.McMurray, TrackingSharks.com",2018,Jun
2,Invalid,USA,Hawaii,Surfing,M,N,07h45,"K.McMurray, TrackingSharks.com",2018,Jun
3,Unprovoked,AUSTRALIA,New South Wales,Surfing,M,N,NaN,"B. Myatt, GSAF",2018,Jun
4,Provoked,MEXICO,Colima,Free diving,M,N,NaN,A .Kipper,2018,Jun
...,...,...,...,...,...,...,...,...,...,...
4947,Unprovoked,AUSTRALIA,New South Wales,Swimming,M,Y,NaN,"L. Becke in New York Sun, 9/9/1906; L. Schultz...",1906,
4948,Unprovoked,AUSTRALIA,Western Australia,Diving,M,Y,NaN,"H. Taunton; N. Bartlett, p. 234",1903,
4949,Unprovoked,AUSTRALIA,Western Australia,Pearl diving,M,Y,NaN,"H. Taunton; N. Bartlett, pp. 233-234",1903,
4950,Unprovoked,USA,North Carolina,Swimming,M,Y,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",1900,
4951,Unprovoked,CEYLON (SRI LANKA),Eastern Province,Swimming,M,Y,NaN,S.W. Baker,1845,

In [11]:
attacks_filtered["Month"].value_counts()

Jul    532
Aug    484
Sep    459
Jun    407
Jan    404
Oct    378
Apr    361
Dec    337
       333
Mar    326
Nov    315
Feb    314
May    302
Name: Month, dtype: int64

In [13]:
attacks_filtered.to_csv("../data/Attacks_filtered.csv", index=False)